<br><br><br><br><br>

<div class="container" style="margin: top 50px;">
    <div class="row">
        <div class="col">
            <p class="text-center">Hola {{usuario}}!
                <br><br>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion<i class="fas fa-sign-out"></i></a>
            </p>
        </div>
    </div>
</div>