
    

<div class="container-fluid">
    <BR></BR>
    <BR></BR>
    <div class="col-md-4 mt-4 mt-sm-0 offset-md-2">
        <h2>Contactanos</h2>
        <form action="/contacto" method="post">
            <div class="form-row">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" name="email">
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="number" class="form-control" id="telefono" placeholder="..." name="telefono">
            </div>

            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="4" name="mensaje"></textarea>

                <button  type="submit" class="btn btn-primary btn-block margin-botton:50px">Enviar</button>

        </form>

    </div>

</div>


{{{body}}}
{{message}}

