
<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Taller de cocteleria</p>
            <h1>Mixologia Molecular </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum exercitationem alias aut rem
                voluptate ad qui at optio. Eligendi deleniti adipisci dicta ducimus perspiciatis pariatur rerum
                magni repellat, voluptatum cupiditate!</p>
        </div>
    </div>
</div>


<!-- novedades -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto minima nostrum, modi
                    fugit earum laboriosam laborum quae cumque aperiam, id magni, sed doloremque? Explicabo
                    neque expedita incidunt obcaecati totam veritatis.</p>
            </div>

        </div>
    </div>
</div>





<div id="modal" class="row py-4">
    <div class="col-md-5 offset-md-2 py-">
        <h2>Proximos Talleres</h2>
        <ul class="lista-novedades">
            <li id="actividades"> <a href="#" data-toggle="modal" data-target="#modalEjemplo"><img
                        src="images/FOTO1.jpg" width="70">Esferificacion</a></li>
            <li id="actividades"> <a href="#" data-toggle="modal" data-target="#modalEjemplo2"><img
                        src="images/FOTO2.jpg" width="70">Gelificacion</a></li>
            <li id="actividades"> <a href="#" data-toggle="modal" data-target="#modalEjemplo3"><img
                        src="images/FOTO5.jpg" width="70">Criogenizacion</a></li>
            <li id="actividades"> <a href="#" data-toggle="modal" data-target="#modalEjemplo4"><img
                        src="images/FOTO6.jpg" width="70">Espumificacion</a></li>
            <li id="actividades"> <a href="#" data-toggle="modal" data-target="#modalEjemplo5"><img
                        src="images/FOTO7.jpg" width="70">Aires</a></li>
        </ul>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <div class="col-3">
        <div class="rounded py-3 testimonios">
            <h2 class="text-center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"Al que madruga, Dios lo ayuda"</h5>
                            <p>Anonimo, Algun lado</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Un aplauso para el asador"</h5>
                            <p>Neron, Roma</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Si alguien me dice"segui tus sueños" Me voy a dormir?"</h5>
                            <p>Martin, Martinez</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div><!-- terminanovedades -->

<!-- informacion-->
<div id="informacion">
    <div class="section padding-bottom background-color-grey">
        <div class="container">
            <div class="twelve columns">
                <div class="section-title">
                    <h2>Informacion</h2>
                </div>
            </div>
            <div class="four columns">
                <div class="team-box-1">
                    <p><b><strong>Quienes Somos: </strong></b>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ex
                        iure, tempore obcaecati quas debitis perferendis fugiat saepe consequuntur!.<br><br>
                        <b><strong>Que hacemos: </strong></b> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Neque, vero. Nobis praesentium mollitia qui nesciunt temporibus atque soluta, ducimus
                        laboriosam veritatis necessitatibus sint quasi commodi eaque minus assumenda? Recusandae, dicta?

                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="team-box-1">
                    <p> <strong>Capacitaciones: </strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam
                        voluptatibus repellat distinctio, doloremque asperiores veniam ratione
                        cumque nulla voluptate totam aperiam vero, eum vel corporis deleniti, est ullam facere facilis.
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="team-box-1">
                    <p><strong>Talleres: </strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad magni sed
                        dolorem animi itaque tenetur eligendi, omnis beatae doloribus
                        ex voluptatem consequuntur nobis doloremque saepe vero sunt consectetur. Excepturi, eligendi?.
                        <br><br>
                        <strong>Asesoramientos: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium quae labore hic et cumque modi nesciunt perspiciatis
                        itaque aliquam ex sapiente vel dolor, deserunt tempora quo ipsam iste blanditiis praesentium?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- termina informacion -->


<!-- empieza nosotros -->
<div id="nosotros" class="row my-3 staff py-4">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="card-group">
            <div class="card">
                <img src="/images/FOTO4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">yo</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="images/FOTO2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">el</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/FOTO3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nosotros</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--conocenos -->

<div id="conocenos" class="row py-4">
    <div class="col-md-6 offset-md-3">
        <h2>Conocenos</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6559.62040393415!2d-58.27861475276687!3d-34.70996682362086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1633013225928!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

{{{body}}}

