
<div class="container-fluid">
    <BR></BR>
    <BR></BR>


    <div id="servicios" class="row my-3 staff py-4">
        <div class="col-lg-12 ">
            <h2>Servicios</h2>
            <div class="card-group">
                <div class="card">
                    <img src="/images/capacitacion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Capacitaciones </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Accusantium laborum harum laboriosam enim aliquid perferendis saepe earum
                            ex eveniet temporibus, quam nisi nostrum accusamus odio vel necessitatibus quas ipsum
                            impedit..</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/talleres.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Talleres </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Accusantium laborum harum laboriosam enim aliquid perferendis saepe earum
                            ex eveniet temporibus, quam nisi nostrum accusamus odio vel necessitatibus .</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/mise-en-place 2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Asesoramientos</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Accusantium laborum harum laboriosam enim aliquid perferendis saepe earum
                            ex eveniet temporibus, quam nisi nostrum accusamus odio vel necessitatibus .
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
